APPLICATION_URL=http://localhost:3000

BETTER_AUTH_SECRET=<secret>

DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db>?schema=public

AUTH_GOOGLE_ID=<things>.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=<secret>

RESEND_API_KEY=<key>
RESEND_SENDER=<sender>@example.com

SENTRY_DSN=https://<key>@glitchtip.example.com/2
SENTRY_AUTH_TOKEN=<token>
